@import "../index.css";

.status-available {
    @apply bg-green-700/80 dark:bg-green-800/30;
}

.status-on-call {
    @apply bg-yellow-600/80 dark:bg-yellow-600/30;
}

.status-unavailable {
    @apply bg-red-800/80 dark:bg-red-800/30;
}

.stat {
  @apply flex flex-col items-center text-center;
}
.stat-value {
  @apply text-xl font-semibold leading-tight;
}
.stat-label {
  @apply text-muted-foreground text-xs leading-tight;
}

.dark ::-webkit-scrollbar {
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.dark ::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}